.input {
	position: relative;
	width: 70%;
	border: 0;
	border-bottom: 2px solid grey;
	outline: 0;
	transition: 0.1s;
	text-align: center;
	font-size: 1rem;
}
.input:focus {
	font-size: 1.3rem;
}
.error {
	position: absolute;
	top: 30%;
	color: rgb(162, 54, 54);
}
.darkMode {
	background-color: transparent;
	border-bottom: 2px solid white;
}
.darkMode::placeholder {
	color: rgba(255, 255, 255, 0.7);
}
